@import url("https://fonts.googleapis.com/css?family=Poppins");
/* Doodle Stage */

#stage {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1488095/baconStrip.svg);
  height: 268px;
  width: 600px;
  animation: bounceInUp 1s 1;
}

body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1488095/cuttingboard-01.svg);
}

h1 {
  font-size: 170px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  animation: rotateInDownLeft 3s 1;
}

img {
  width: 15%;
  transition: transform 1s;
}

div:hover img {
  transform: scale(1) rotate(360deg);
}

button {
  font-family: 'Poppins', sans-serif;
  color: maroon;
}